html{
  scroll-behavior: smooth;
}


        body {
          margin: 0px;
          padding: 10px;
          background-color: black;
          background-image: url(Images/background-img.jpg);
          background-attachment: fixed;
        }
        
        header {
        
          color: #fff;
          display: flex;
          justify-content: space-between;
          align-items: center;
          z-index: 100;
          overflow: hidden;
          position: fixed;
          width: 100%; 
          background-color: rgba(0, 0, 0, 0.484);
        }
        
        .logo {
          margin-left: 50px;
          color: #c770f0;
          font-size: 3em;
          

        }

        .nav-links {
          list-style: none;
          display: flex;
          margin: 0;
          padding: 0;
          
        }
        
        .nav-links li {
          margin-right: 50px;
          font-size: 1.5em;
        }
        
        .nav-links li a {
          color: #fff;
          text-decoration: none;
          position: relative;

        }
        
        .nav-links li a::after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: #c770f0;
          transform: scaleX(0);
          transition: transform 0.2s ease-in-out;
        }
        
        .nav-links li a:hover::after {
          transform: scaleX(1);
        }

        .icon{
          color: white;
          
        }
         
    


        
     

      @media(max-width : 600px){

        .logo{
          font-size: 1.75em;
        }
        
        
        .nav-center{
          display: none;
        }

     

        .icon {
          color: white;
          
          float: right;
          display: block;
        }
      
        

      }



/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav-links.responsive {position: relative;}
  .nav-links.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-links.responsive .nav-center {
    float: none;
    display: block;
    text-align: left;
    color: white;
    background-color: blue;
  }
}




/* Home section  */
.home{
    color: white;
    margin-left: 10vw;
    margin-top: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.intro{
    justify-content: center;
    font-size: 1.75em;
    text-align: center;
    margin-left: 5vw;
    
}
 

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }


.name{
    color: #c770f0;
}
  
.home img{
    height: 65vh;
    width: 45vw;
    margin-right: 5vw;

}

/* type writer annimation  */

.typewrite{
    color:#c770f0; 
    text-decoration: none;
}

@media(max-width : 600px){

      .home{

      display: flex;
      flex-direction: column;
      margin-top: 12vh;
      }

      intro{
      justify-content: center;


      }

      .intro h1{
      font-size: 1em;
      line-height: 0.75;

      }

      .intro h2{
      
      text-align: center;
      font-size: 1em;
      line-height: 0.5;


      }

      .name{

      text-align: center;
      line-height: 0.5;
      margin-left: 10vw;

      }


      .suraj-typewrite{
      font-size: 1em;
      line-height: 0.5;
      }

      .home img{
        margin-top: 8vh;
        height: 35vh;
        width: 85vw;
    
    }
    
     
}



.about{
  
  color: white;
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  gap: 8vw;
  
}



.about-intro{
  text-align: justify;
  margin-left: 5vw;
  padding: 10px;
  margin-right: 10px;


}

.about-intro h1{
  text-align: center;
  font-size: 50px;
}


.about-intro p{
  font-size: 1.75em;
  margin-left: 5vw;
}


.about-span{
  color: #c770f0;

}

.about-img{
  margin-top: 5vh;
  margin-right: 10vw;
  
 
}

@media(max-width : 600px){

  .about{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
  }
  .about-intro{
    margin: 0;
    margin-left: 2vw;

  }

  .about-intro h1{
    text-align: center;
    font-size: 2em;
  }

  .about-intro p{
    margin-left: 2vw;
    font-size: 17px;
    padding: 5px;
  }

  .about-img{
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-top: 0;
    margin-bottom: 0;
   
  }

}


/* about page  */

.about-me{
  text-align: left;
  color: white;
  margin-left: 10vw;
  margin-top: 25vh;
  margin-right: 5vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.about-me h1{
  text-align: center;
  font-size: 50px;
}

.about-me p{
  justify-content: center;
  text-align: justify;
  font-size: 1.75em;
}

.about-me img{
  height: 45vh;
  width: 35vw;
  margin-top: 10vh;
  margin-right: 10vw;
  
}


.hobbies li{

  list-style: none; /* Remove the default dot line */
  margin-bottom: 1vh;
  
}


 .hobbies li a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  
  
 }

 .quote{
  margin-top: 5vh;
  font-size: 1rem;
  text-align: center;
  color: #c770f0;
  justify-content: center;
  margin-left: 5vw;
 }


 .quote-name{
  text-align: right !important;
  color: white;
  font-size: 1rem;
  margin-right: 2vw !important;
 }

 @media(max-width : 600px){


  .about-me{
    text-align: center;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin: 5vh 2vw 0vh 2vw;
    
    
  }

  .about-me-content h1{
    
    text-align: center;
    margin-left: 2vw;

  }
  .about-me-content p{

    
    text-align: justify;
    margin-left: 2vw;
    font-size: 1rem;

  }

  .about-me-content{
    text-align: justify;
    margin-left: 3vw;
  }

  .about-me img{
   height: 35vh;
   width: 80vw;
   margin-left: 5vw;
    
  }

 }


 

 .skills{
  margin-top: 150px;
  
  color: white;
  text-align: center;
  justify-content: center;
 }

 .skills h1{
  font-size: 50px;
  margin-bottom: 15vh;
 }


 .container {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh;
  margin-left: 8vw;
  max-width: 100%;
 
  
}


.box {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  gap: 20px;
  border: 2px solid #c770f0;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  height: 25vh;
  width: 15vw;
  
}

.box:hover{
  
  transform: scale(1.1);
}


.box img {
  height: 50%;
  width: 50%;
  transform: translateY(50%);
  background-color: transparent;
}


@media (max-width: 600px) {

  .skills{
    margin-top: 5vh;
  }

  .container{
    margin-top: 5vh;
  }

 .box{
  margin-left: 5vw;
  height: 15vh;
  width: 15vh;
 }
  
}



.project-title{
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 15vh;
  margin-bottom: 15vh;
}



.flip-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 60px;
  
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  margin-right: 30px;
  overflow:hidden ;
  margin-bottom: 10vh;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

@media (max-width: 768px) {

  .project-title{
    margin-bottom: 5vh;
  }
  .flip-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .flip-card {
    margin-left: 10vw;
    width: 80%;
  }
}


.demo-title{
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 10vh;
}


.Video-container{
  
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  color: #fff;
  text-align: center;
  margin-left: 8vw;

}

.Video-container iframe{
  margin-left: 80px;
  gap: 10px;
  margin-right: 20px;
}

.left-video, .right-video{
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight:600;
  
}

.video-link{
  color: white;
  font-size: 2em;
  text-align: center;
}

.video-link a{
  color: #c770f0; 
  text-decoration: none;
}

@media (max-width: 576px){
  .Video-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    
  }

  .Video-container iframe{
    margin-left: 1vw;
    height: 40vh;
    width: 80vw;
  
  }
  .left-video, .right-video{
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight:200;
    
  }

  .video-link{
    font-size: 1em;
  }

  
  
}



.resume{
  margin-top: 15vh;
  background-color: transparent;
  color: white;
  
}


.resume-title{
  color: white;
  text-align: center;
  font-size: 60px;
}



.download-button {
  margin-top: 5vh;
  display: inline-block;
  text-align: center;
  margin-left: 44vw;
  width: 150px;
  padding: 1em 2em;
  background-color: #c770f0;
  color: #fff;
  font-size: 1.25em;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}



.download-button:hover {
  background-color: #a556ca9c;
}

.pdf{

  margin-top: 10vb;
  margin-left: 30vb;

  justify-content: center;
  align-items: center;

}

.pdf object{
  width: 80%;
  height: 60vw;
}

.resume-img{
  display: none;
}

@media (max-width: 576px){

  .resume{
    margin-top: 5vh;
  }

  .pdf{
    height: 95vh;
    margin-left: 5vw;
    display: none;
  
  }

  .pdf object{
    width: 80vw;
    height: 60vh;
    /* margin-bottom: 1vh; */

  }

  .download-button{
    margin-left: 30vw;
    width: 100px;
    margin-top: 5vh;
      font-size: 1em;

  }

  #down-download{
    margin-top: 2vh !important;
  }

  .resume-img{
    display: block;
    height: 50vh;
    width: 80vw;
    margin: 5vh 5vw 5vh 8vw

  }
  


  
}


.testimonials-title{
  color: white;
  text-align: center;
  font-size: 30px;
 margin-top: 10vh;
}
  
#testimonials-id {
  display: flex;
  flex-wrap: wrap;
  gap: 7vw;
  margin-top: 5vh;
  margin-left: 15vw;
}


.testimonial-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  color: #444;
  max-width: 300px;
  padding: 30px;
  transition: transform 0.3s ease;
  overflow: hidden;
  
}



.testimonial-header {
  text-align: center;
  margin-bottom: 20px;
}

.testimonial-header img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.testimonial-header h3 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.testimonial-content p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

.testimonial-content h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.testimonial-card:hover{
  transform: scale(1.1);
}


@media screen and (max-width: 600px){
 
  .testimonial-card {
    height: 50vh;
    width: 60vw;
    padding: 2vw;
    margin-top: 5vh;
    /* max-width: 250px; */

 }

 .testimonial-content p {
 
  font-size: 0.75em;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
 }
}

.contact-me{
  margin-top: 100px;
  color: #fff;
  margin-left: 40vw;
  font-size: 35px;
 
}

@media screen and (max-width: 600px){

.contact-me{
  align-items: center;
  justify-content: center;
  margin-left: 10vw;
}
  
}

/* contact form  start*/
 .main-form{
    display: flex;
    flex-direction: column;
   
  }


  form {
    background-color: transparent(0, 0, 0, 0);
    padding: 50px;
    margin: 20px auto;

    border: 4px solid #a514aa;
    border-radius: 50px;
    text-align: left;

  }


  .content-form{
    font-size: 1.5em;
    margin: 10px;
    color: white;
  }


.content-form label{
  color: #c770f0;
}
  .name{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    overflow: hidden ;
    
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }



  
  input[type=submit] {
    width: 100%;
    background-color: #a514aa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=reset] {
    width: 100%;
    background-color: #a514aa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=reset]:hover {
    background-color:#571259;
    
  }
  input[type=submit]:hover {
    background-color:#571259;
    
  }

  textarea[type = text]{
    width: 100%;
    height: 20vh;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
  }


/* conatct form end */

/* blogging page  */

.card{
  background-color: white;
  padding: 20px;
}

.blogs{
  color: black;
  background-color: #ccc;
  padding: 2px;
  margin-top: 100px;
}

.blogs{
  text-align: center;
 
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




#scrollToTopBtn {

  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}




.find-me {
  text-align: center;
  color: white;
  margin-top: 5vh;
  font-size: x-large;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.social-media a {
  height: 20px;
  width: 20px;
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin-right: 40px; /* Add a margin-right for gap */
}

.social-media a:last-child {
  margin-right: 0; /* Remove margin-right for the last link */
}

.social-media a:hover {
  color: gray;
}



                          
  /* .footer {
  margin-left: 1vw;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  }

  .footer-content{
  display: flex;
  flex-wrap: wrap;

  }




  @media screen and (max-width: 600px) {

  .footer-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5vw;


  }


  .footer-center{
  margin-left: 1vw;

  white-space: nowrap;
  }
  .footer-right{
  margin-left: 1vw;
  white-space: nowrap;
  }


  } */




/* footer section  */
footer {
  background-color: transparent;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 100px;
  margin-left: 10vw
}

.footer-content {
  display: flex;
 flex-wrap: wrap;
  /* justify-content: space-between; */
}


.footer-center{
  text-align: center;
  
}


.footer-left,
.footer-right {
  flex: 1;
  text-align: center; 
  
}

.footer-left span,
.footer-right a {
 
  padding: 10px;
  color: white;
  text-decoration: none;
}

.footer-right a:hover {
  color: gray;
}

@media screen and (max-width: 600px) {

  .footer-content{
  display: flex;
  flex-direction: column;
  align-items: center;



  }


  .footer-center{
  
  white-space: nowrap;
  }

  .footer-right{
  
  white-space: nowrap;
  }

}